---
- import_tasks: homebrew.yml
  tags: homebrew, brew

- import_tasks: dependencies.yml
  tags: homebrew

- import_tasks: zsh.yml
  tags: zsh

- import_tasks: vim.yml
  tags: vim

- import_tasks: binaries.yml
  tags: binaries

- import_tasks: repos.yml
  tags: repos
