---
- name: Create Vim autoload directory
  file:
    path: "{{ vim_autoload_directory }}"
    state: directory

- name: Download Vim package manager
  get_url:
    url: "{{ vim_plugin_manager_url }}"
    dest: "{{ vim_plugin_manager_directory }}"

- name: Check if Vim plugins are installed
  stat:
    path: ~/.vim/plugged
  register: vim_plugged

- name: Install Vim plugins
  shell: vim -u {{ vim_plugin_file }} +PlugInstall +qall
  when: not vim_plugged.stat.exists
