---
- name: Create Vim autoload directory
  file:
    path: "{{ vim_autoload_directory }}"
    state: directory

- name: Download Vim package manager
  get_url:
    url: "{{ vim_plugin_manager_url }}"
    dest: "{{ vim_plugin_manager_directory }}"

- name: Get plugs.vim checksum
  stat:
    path: "{{ vim_plugin_file }}"
    checksum_algorithm: sha256
    get_checksum: true
  register: plugs_file

- name: Check last installed checksum
  slurp:
    src: ~/.vim/.plugs_checksum
  register: last_checksum
  ignore_errors: true

- name: Install Vim plugins
  shell: vim -u {{ vim_plugin_file }} +PlugInstall +qall
  when: plugs_file.stat.exists and (last_checksum.failed or (last_checksum.content | b64decode | trim) != (plugs_file.stat.checksum | default('')))

- name: Save plugs checksum
  copy:
    content: "{{ plugs_file.stat.checksum | default('') }}"
    dest: ~/.vim/.plugs_checksum
  when: plugs_file.stat.exists and (last_checksum.failed or (last_checksum.content | b64decode | trim) != (plugs_file.stat.checksum | default('')))
