---
- name: Add VSCode repository for Linux
  yum_repository:
    name: vscode
    description: Microsoft Visual Studio Code
    baseurl: https://packages.microsoft.com/yumrepos/vscode
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
  become: true
  when: ansible_facts['distribution'] == "Fedora"

- name: Install VSCode for Linux
  yum:
    name: code
    state: latest
  become: true
  when: ansible_facts['distribution'] == "Fedora"

- name: Install VSCode for macOS via Homebrew
  homebrew_cask:
    name: visual-studio-code
    state: present
  when: ansible_facts['os_family'] == "Darwin"
