---
- name: Install ZSH for macOS
  homebrew:
    name: zsh
    state: present
  when: ansible_facts['os_family'] == "Darwin"

- name: Check ZSH path
  command: which zsh
  changed_when: false
  register: zsh_path

- name: Install oh-my-zsh
  git:
    repo: "{{ zsh_ohmyzsh_repo }}"
    dest: "{{ zsh_ohmyzsh_directory }}"
    version: master

- name: Check if zsh profile exist
  stat:
    path: "{{ zsh_profile_file }}"
  register: zsh_profile

- name: Backup zsh profile
  copy:
    src: "{{ zsh_profile_file }}"
    dest: "{{ zsh_profile_file }}.backup"
    remote_src: yes
  when: zsh_profile.stat.exists and zsh_profile_overwrite

- name: Copy zsh config template
  copy:
    src: "{{ zsh_ohmyzsh_directory }}/templates/zshrc.zsh-template"
    dest: "{{ zsh_profile_file }}"
    remote_src: yes
  when: |
    not zsh_profile.stat.exists or
    (zsh_profile.stat.exists and zsh_profile_overwrite)

- name: Set default shell to zsh for current user
  user:
    name: "{{ ansible_facts['env']['USER'] }}"
    shell: "{{ zsh_path.stdout }}"
  become: true
